:host {
  --bg: rgb(48, 2, 232);
  position: relative;
  width: 90vw;
  height: 90vh;
  background: linear-gradient(to bottom, transparent, var(--bg));
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-areas: "logo" "main" "arrows";
  grid-template-columns: 1fr;
  grid-template-rows: 10vh auto auto;
  z-index: 100;
  justify-self: center;
  align-self: center;
  overflow: hidden;
}

:host h1 {
  position: relative;
  grid-area: logo;
  font-size: 1em;
  letter-spacing: 2px;
  padding: 25px 40px;
  text-transform: capitalize;
  animation: slideToRight .5s 1 linear forwards;
}

@keyframes slideToRight {
  0%{
  opacity: 0;

  transform: translateX(-5vw);
  }
  100%{
  opacity: 1;
  transform: translateX(0);
    
  }
}

:host h1 span{
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--orangePink);
}

:host .container {
  grid-area: main;
  position: relative;
  width: 70vw;
  height: 70vh;
  justify-content: center;
  justify-self: center;
}
:host .arrows {
  grid-area: arrows;
  justify-self: end;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5vw;
  gap: 10px;
}

:host .arrows span {
  position: relative;
  cursor: pointer;
  font-weight: 200;
  display: grid;
  place-content: center;
  padding: 5px 12px;
  background-color: var(--lightTextColor);
  border-radius: 4px;
  color: var(--bgColor);
  opacity: 0;
  animation: slideToTop .5s calc(var(--i)*.5s) 1 linear forwards;
}

@keyframes slideToTop {
  0%{
  opacity: 0;

  transform: translateY(5vh);
  }
  100%{
  opacity: 1;
  transform: translateY(0);
    
  }
}


/* Tablet Styles */
@media only screen and (max-width: 1100px) {
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  :host {
    width: 100vw;
    height: 100vh;
  }
:host .container {
  width: 90vw;
}
  :host h1 {
    font-size: 1.2em;
  }
  :host .arrows {
    justify-self: center;
    margin-bottom: 10vh;
  }
}
